.categorySubList {
    padding-left: 15px;
    margin-top: 5px;
}

.itemCategoryListContainer{
    max-width: 350px;
}

.selectedListItem {
    background-color: aquamarine;
}

.CategoryListHeader {
    display: flex;
    justify-content: space-between;
}