.calculatorPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculatorField{
  width: 280px;
}
.calculatorTitle{
  margin-top: 20px;
}

.itemCostControlContainer{
  margin-top: 20px;
}

.itemCostControl {
}

.shippingCostControlContainer {
  margin-top: 20px;
}

.shippingCostControl {
}

.itemCategoryInputContainer {
  margin-top: 20px;
}
.itemCategoryInput {
}

.calculateButtonContainer{
  margin-top: 50px
}
.calculateButton {
}

.resultArea {
  margin-top:40px;
  width:280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultAreaValue {
  color: aqua;
  font-size: 24px;
  font-weight: bold;
}