.calculatorPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculatorField{
  width: 280px;
}
.calculatorTitle{
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.itemCostControlContainer{
  margin-top: 20px;
}

.shippingCostControlContainer {
  margin-top: 20px;
}

.itemCategoryInputContainer {
  margin-top: 20px;
}

.calculateButtonContainer{
  margin-top: 50px
}

.resultArea {
  margin-top:40px;
  width:280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultAreaValue {
  color: aqua;
  font-size: 24px;
  font-weight: bold;
}

.calculationDetailsRow {
  width: 280px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.calculationDetailsRow:hover {
  background-color: azure;
}
.resultAreaDetailsSwitch {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltipContainer {
  display: flex;
  align-items: center;
}